.idea/
.claude/
.vscode/

# Puthon cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
# Jupyter Notebook
.ipynb_checkpoints
# Environment files
.env
.venv/
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
samples/

.DS_Store
*.egg-info/
.installed.cfg
*.egg
*.log
pip-log.txt